# Server
PORT=3000
HOST=0.0.0.0

# MySQL
MYSQL_URL=localhost
MYSQL_USER=root
MYSQL_PASSWORD=changeme
MYSQL_DB=notesphere
MYSQL_PORT=3306

# JWT
JWT_SECRET=your-super-secret-key
JWT_EXPIRES_IN=6h

# Node environment
NODE_ENV=development
